/*Global*/
.tester
{
	border: 1px solid red;
}
.w-100
{
	width: 100%;
}
.w-50
{
	width: 50%;
}
.no-padding
{
	padding: 0;
}
.no-margin
{
	margin: 0;
}
.no-margin-left
{
	margin-left: 0;
}
.no-margin-right
{
	margin-right: 0;
}
.no-margin-top
{
	margin-top: 0;
}
.no-margin-bottom
{
	margin-bottom: 0;
}
.mar-bot
{
	margin-bottom: .3em;
}
.text-left
{
	text-align: left;
}
.text-right
{
	text-align: right;
}
.text-center
{
	text-align: center;
}
.text-justify
{
	text-align: justify;
}
/*Global*/
.header_main
{
	background-color: #000000;
	color: #ffffff;
	padding: 2rem 0 2em 3rem;
}
.btn-logout
{
	color: #000000;
}
.nav-left
{
	height: 100%;
	min-height: 100%;
	min-height: 100vh;
	background-color: #343a40;
}
/*Main Content*/

/*Main Content*/
/*Media*/
@media (min-width: 1680px)
.container {
    max-width: 1600px;
}
/*Media*/